* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*  Common  */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

/* Wrapper */
#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav .icon-arrow-down {
    font-size: 14px;
}

#nav li {
    
    position: relative;
}

#nav > li {
    display: inline-block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#nav .subnav a {
    color: #000;
    line-height: 38.5px;
    padding: 0 16px;
}

#header .search-button {
    float: right;
    width: 62px;
}

#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    line-height: 46.5px;
    padding: 0 24px;
}

#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background-image: url(/assets/image/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

#slider .slider-text {
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .slider-text .text-heading {
    font-weight: 400;
    font-size: 24px;
}

#slider .slider-text .text-description {
    margin-top: 25px;
    font-size: 15px;
}

#content {
    text-align: center;
}

#content .content-section {
    padding-top: 74px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 112px;
}

#content .content-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .content-sub-heading {
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    margin-bottom: 48px;
}

#content .about-content {
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 62px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
}

#content .tour-section {
    background-color: #000;
}

#content .ticket-list {
    background-color: #fff;
    margin-top: 30px;
    list-style: none;
}

.ticket-list li {
    text-align: left;
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    
}

#content .sold-out {
    margin-left: 32px;
    color: #fff;
    background-color: #f44336;
    padding: 4px 7px;
}

#content .quantity {
    float: right;
    padding: 5px;
    color: white;
    background-color: #000;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    margin-top: -5px;
}

/*   Places   */
.place-list {
    margin-top: 32px;
}

.place-image {
    width: 100%;
    display: block;
}

.place-image:hover {
    opacity: 0.6;
}

.place-info {
    text-align: left;
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    margin-bottom: 15px;
}

.place-date {
    margin-bottom: 15px;
    opacity: 0.6;
}

.place-description {
    margin-bottom: 15px;
    line-height: 1.4;
}

.place-but-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.place-but-btn:hover {
    color: #000;
    background-color: #ccc;
}

/*  Modal  */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    position: relative;
    animation: TicketModalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    font-size: 30px;
    color: #fff;
    padding: 47px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 24px;
    padding: 12px 15px;
    opacity: 0.8;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-info {
    text-align: left;
    padding: 16px;
    font-size: 15px;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 24px;
}

.modal-submit-pay {
    border: none;
    background-color: #009688;
    width: 100%;
    font-size: 18px;
    color: #fff;
    padding: 16px;
    margin-bottom: 32px;
    opacity: 0.8;
    cursor: pointer;
}

.modal-submit-pay:hover {
    opacity: 1;
}

.modal-footer {
    text-align: right;
}

@keyframes TicketModalFadeIn {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/*  Contact  */
.contact-info {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
}

.contact-info-icon {
    width: 30px;
}

.contact-submit-btn {
    display: inline-block;
    float: right;
    border: none;
    background: #000;
    color: #fff;
    padding: 12px 18px;
    cursor: pointer;
    opacity: 0.8;
}

.contact-submit-btn:hover {
    opacity: 1;
}

.contact-info-form {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 11px;
}

#footer {

}
